body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #e6dfdff6;
}
h1, h2, h3 {
    color: #0056b3;
  }
  
  a {
    color: #0056b3;
    text-decoration: none;
  }
  
  /* Style for code blocks */
  pre, code {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
.shiny-plot-output {
    max-width: 100%;
    height: auto;
  }
  

  @media only screen and (max-width: 768px) {
    body {
      padding: 15px;
    }
  
    .navbar {
      margin-bottom: 0;
    }
  }